body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

#ham{
    display: none;
}

#menu {

    display: table;
}


.navbar {
    overflow: hidden;
    background-color: #333;
    width: 100%;
    display: table;
    text-align: justify;




}

.navbar a {


    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: table-cell;
    width: 20%;
}

.navbar a:hover {
    background-color: darkred;
    color: greenyellow;
}

.navbar a.active {
    background-color: #4CAF50;
    color: white;
}

.navbar .icon {
    display: none;
}
.cell {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
        float: right;
        display: block;

    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        bottom:0;


    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
        background-color: black;
    }

    #ham{
        display: block;
        width: 15px;
        height: 15px;
        padding: 5px;

    }
    #menu{
        display: none;
    }

}

/*ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #536453;
    border-right: 0.5em solid #ffcd74;
    border-left: 0.5em solid #ffcd74;
}
li {
    flex: 1 0 auto;
}
ul a {
    display: block;
    padding: 0.25em 1em;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border: 1px solid #fff;
}
a:hover {
    background: red;
}*/



